.app-wrapper {
  position: relative;
  width: 100%;
  overflow-x: clip;
}

main {
  width: 100%;
  position: relative;
}

section {
  width: 100%;
  padding: 100px 0;
  overflow-x: clip;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

@media (max-width: 768px) {
  section {
    padding: 60px 0;
  }
}
